{% extends "base.html" %}
{% block title %}Blog | Titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
{# row中使图片或者文字垂直居中 #}
	<h1>我的博客</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
    {# 屏幕大于(≥992px) ，使用col-md-* #}
		<ul>
			{% for blog in blogs %}
			<li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>努力</h2>
		<p>Study Python：www.xtrdb.net</p>
		<img width="200px" src="http://www.mrwallpaper.com/wallpapers/Fluffy-Cat.jpg">
	</div>
</div>
{% endblock %}
