{% load staticfiles %}
<div class="container"> {# 显示居中 #}
    <nav class="navbar navbar-default" role="navigation"> {# 导航栏 #}
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.xtrdb.net"><img src="{% static '/images/logo.png' %}" width="100px"></a>
	    </div> {# 向 <div> 元素添加一个标题 class .navbar-header，内部包含了带有 class navbar-brand 的 <a> 元素。这会让文本看起来更大一号。 #}
	    <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>
            </ul> {# 向导航栏添加链接，只需要简单地添加带有 class .nav、.navbar-nav 的无序列表即可 #}
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                {% if user.is_authenticated %}
                <li>
                    <div class="dropdown" style="margin-top:8px">
                        <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu' data-toggle='dropdown'>
                            {{ user.username }}<span class='caret'></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                            <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                        </ul>
                    </div>
                </li>
                    <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account:user_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>